* {
	padding: 0;
	margin: 0;
}

html * {
	font-family: Arial !important;
}

header {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	min-height: 142px;

	background-color: #FAFAFA;
	border-bottom: 1px solid #E4E4E4;
}

a {
	color: #000;
	text-decoration: none;

    text-align: center;

	margin-left: 5px;
	margin-right: 5px;
}

li {
	display: inline;
}

.li_text {
	font-size: 13px;
	opacity: 0.75;
	text-align: center;
}

.h_buttons {
	vertical-align: middle;
	position: relative;
	line-height: 10px;
}


a:visited, a:focus, a:active { 
	text-decoration: none; 
}

a:hover {
	text-decoration: underline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header ul {
	display: inline-flex;
}

#h_left {
	float: left;
	margin-left: 25px;
}

#h_right {
	float: right;
	margin-right: 50px;
}

#apps_button, #notifications_button, #image_button {
	display: inline-block;
	position: relative;
	z-index: -1;
}

#image_button {
	right: 10px;
	top: -7.5px;
}


#user_img {
	border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
}

#nine_squares, #n_bell, #user_img {
	vertical-align: top;
}

#main_div {
    position: absolute;
    margin-top: 200px;

    top:0;
    bottom: 0;
    left: 0;
    right: 0;
}




